# Claude Code
.claude/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swp
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Gradle files
.gradle/
**/build/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Android
android/local.properties
android/app/google-services.json
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/wrapper/
